@import '../../general/settings';

.alert
{
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: left;
  border-radius: 4px;
}


.alert--info
{
    @extend .alert;
    background: $info;
}
.alert--success
{
    @extend .alert;
    background: $success;
}
.alert--warning
{
    @extend .alert;
    background: $warning;
}
.alert--error
{
    @extend .alert;
    background: $error;
}
