{% extends 'bootstrap_base.html' %}
{% import 'my_wtf.html' as wtf %}

{% block title %}AST{% endblock %}

{% block styles %}
{{ super() }}
{{ select2_form_css() }}
<style>
/* Base formatting */
@media (min-width:1440px)   {.container{max-width:1410px}}
@media (min-width:576px)    {.form-width-fix .form-control {width:100%}}
@media (min-width:768px)    {.form-width-fix .form-control {width:140px}}
@media (min-width:992px)    {.form-width-fix .form-control {width:200px}}
@media (min-width:1200px)   {.form-width-fix .form-control {width:auto}}
@media (min-width:576px)    {.form-width-fix .form-control-button {width:100%}}
@media (min-width:768px)    {.form-width-fix .form-control-button {width:auto}}

/* Cards formatting */
.card-header {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.card-title {margin-bottom: 0.25rem;}
.card {margin-bottom:0.5rem;}
.primary > .card-header {background-color:var(--primary);}
.primary > .card-header > .card-title {color:var(--white);}
.secondary > .card-header {background-color:var(--secondary);}
.secondary > .card-header > .card-title {color:var(--white);}
.success > .card-header {background-color:var(--success);}
.success > .card-header > .card-title {color:var(--white);}
.danger > .card-header {background-color:var(--danger);}
.danger > .card-header > .card-title {color:var(--white);}
.warning > .card-header {background-color:var(--warning);}
.info > .card-header {background-color:var(--info);}
.info > .card-header > .card-title {color:var(--white);}
.light > .card-header {background-color:var(--light);}
.dark > .card-header {background-color:var(--dark);}
.dark > .card-header > .card-title {color:var(--white);}

/* Misc. */
checkbox                        {cursor:pointer}
.decorative-checkbox            {cursor:default !important}
.checkbox-row                   {cursor:pointer}
.thumbnail.info                 {background-color:#d9edf7; }
.container-hidden               {visibility:hidden;}
.notification-text              {white-space:pre-line;}
.clickable, .clickable-row      {cursor:pointer;}
.nav-link.disabled              {cursor:default;}

@page                   {size: 210mm 297mm; margin: 15mm 15mm 15mm 15mm;}
.print-friendly         {page-break-inside:avoid; page-break-after:auto}
.print-block            {page-break-after:always;}
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light no-print navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Adjudicator System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            {% block navbar_content %}
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if request.path == '/adjudication_system/starting_lists' or request.path == '/adjudication_system/starting_numbers' %}active{% endif %}" href="{{ url_for('adjudication_system.starting_lists') }}">Starting lists</a>
                <a class="nav-item nav-link {% if request.path == '/adjudication_system/heat_lists' %}active{% endif %}" href="{{ url_for('adjudication_system.heat_lists') }}">Heat lists</a>
                <a class="nav-item nav-link {% if request.path == '/adjudication_system/results' %}active{% endif %}" href="{{ url_for('adjudication_system.results') }}">Results</a>
            </div>
            {% endblock %}
            {% if current_user.is_anonymous %}
                {% if login_form %}
                    <form class="form-inline ml-auto form-width-fix" method="POST" enctype="multipart/form-data">
                        {{ login_form.hidden_tag() }}
                        {{ login_form.username(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Username') }}
                        {{ login_form.password(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Password') }}
                        {{ login_form.submit(class_='btn btn-outline-primary form-control mx-0 mx-md-1 my-1 my-md-0') }}
                    </form>
                {% endif %}
            {% else %}
                <form class="form-inline ml-auto">
                    <span class="navbar-text mx-0 mx-md-2 my-1 my-md-0">Welcome, {{ current_user }}</span>
                    <a href="{{ url_for('main.logout') }}" class="form-control btn btn-outline-primary mx-0 mx-md-2 my-1 my-md-0">Logout</a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {{ flash_messages() }}

    {% block app_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ select2_form_js() }}
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}


{% macro select2_form_css() %}
<link rel="stylesheet" href="{{url_for('static', filename='select2/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='select2/select2-bootstrap3.css')}}">
<style>.select2-results .select2-highlighted{color:#fff;background-color:#1e90ff}</style>
{% endmacro %}


{% macro select2_form_js() %}
<script type="text/javascript" src="{{url_for('static', filename='select2/select2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='select2/form.js')}}"></script>
{% endmacro %}


{% macro icon(type) -%}
<img src="{{url_for('static', filename='octicons/'+type+'.svg')}}">
{%- endmacro %}


{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {% if category=='message' %}alert-info{% else %}{{ category }}{% endif %} alert-dismissible mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}