{% extends 'bootstrap_base.html' %}
{% import 'my_wtf.html' as wtf %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light no-print navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
        {% if not current_user.is_anonymous %}
        <div class="ml-auto">
            <a href="{{ url_for('main.logout') }}" class="form-control btn btn-outline-primary mx-0 mx-md-2 my-1 my-md-0">Logout</a>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-grow-1" style="min-height: 100vh;">
    {{ flash_messages() }}

    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {% if category=='message' %}alert-info{% else %}{{ category }}{% endif %} alert-dismissible mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}
